body {
	background-image: url("../images/congruent_outline_gm.png");
	background-color: #333;
}

.header_container a:link,
.header_container a:visited {
	text-decoration: none;
	font-size: 40pt;
	color: #f4de30;
}

#base_header {
	margin: auto;
	width: 650px;
	background-color: #9c9c9c;
	border-style: solid;
	border-color: #46629c;
	background-color: #46829c;
}

#base_nav {
	margin: auto;
	border-style: solid;
	border-color: #46629c;
	width: 650px;
	background-color: #46829c;
}

.nav_container {
	margin: auto;
	width: 600px;
	background-color: #46829c;
}

#base_content {
	margin: auto;
	width: 650px;
	border-style: solid;
	border-color: #46629c;
	background-color: #46829c;
}

.content_container {
	margin: auto;
	width: 600px;
	padding: 10px;
}

#base_footer {
	margin: auto;
	width: 650px;
	border-style: solid;
	border-color: #46629c;
	background-color: #46829c
}

.album_table .rTableCell {
	width: 150px;
	height: 150px;
	background-color: #46829c
}

.album_table button {
	width: 150px;
	height: 150px;
	border-style: solid;
	border-radius: 30px;
	text-align: center;
	vertical-align: middle;
	background-color: #46829c
}

.playlist_table .rTableCell {
	width: 140px;
	height: 70px;
	background-color: #46829c
}

.playlist_table button {
	width: 120px;
	height: 60px;
	border-style: solid;
	border-radius: 30px;
	border-color: #46629c;
	margin: 10px;
	padding: 10px;
}

#base_nav button {
	width: 120px;
	height: 50px;
	border-style: solid;
	border-radius: 30px;
	border-color: #46629c;
	margin: 10px;
}

#player_container {
	display: flex;
	margin: auto;
	padding: 2px;
	background-color: #46829c

}

#player_source_container {
	width:200px;
	border-style: solid;
	border-radius: 10px;
	border-color: #46629c;
	margin-right: 2px;
	padding: 5px;
}

#now_playing_container {
	flex: 1;
	border-style: solid;
	border-radius: 10px;
	border-color: #46629c;
	padding: 5px;
}

.playerbutton button {
	width: 50px ;
	height: 35px;
	background-color: #f4de30;
	border-style: none;
	border-radius:30px;
	padding: 0;
	margin: 2px;
}

.songlist ol {
	display: none;
	list-style-type: none;
}

.tracknumber {
	display: inline-block;
	width: 20px;
	text-align: right;
}


.songbuttons {
	display: inline-block;
}

.songbuttons button {
	background: none;
	border: none;
}

.songname {
	display: inline-block;
}

.songinfo {
	display: none;
}

.rTable { display: table; } 

.rTableRow { display: table-row; } 

.rTableHeading { display: table-header-group; } 

.rTableBody { display: table-row-group; } 

.rTableFoot { display: table-footer-group; } 

.rTableCell, .rTableHead { display: table-cell; }
