body {
	background-image: url("../images/congruent_outline_gm.png");
	background-color: #333;
}

#base_header {
	background-color: #9c9c9c;
}

#base_nav {
	background-color: #9c9c9c;
}
#base_content {
	background-color: #9c9c9c;
}

#base_footer {
	background-color: #9c9c9c;
}

.songlist ol {
	display: none;
	list-style-type: none;
}

.tracknumber {
	display: inline-block;
	width: 20px;
	text-align: right;
}


.songbuttons {
	display: inline-block;
}

.songbuttons button {
	background: none;
	border: none;
}

.songname {
	display: inline-block;
}

.songinfo {
	display: none;
}

.rTable { display: table; } 

.rTableRow { display: table-row; } 

.rTableHeading { display: table-header-group; } 

.rTableBody { display: table-row-group; } 

.rTableFoot { display: table-footer-group; } 

.rTableCell, .rTableHead { display: table-cell; }
