<div class="source_info">
	<section>
		<header>ALBUMNAME (YEAR)</header>
		<p><img src="COVER_ART" height="100" width="100"><p>
		<div id="album_block_download" class="download_button playerbutton">
			<a href="DOWNLOAD_LINK" download="SAFE_NAME.zip"><button><img src="SITEROOT/images/download.png" alt="Download Album"></button></a>
		</div>
	</section>
</div>

