<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TITLE_BLOCK</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.js"></script>
  <script type="text/javascript" src="SITEROOT/scripts/abs.js"></script>
  <link rel="stylesheet" type="text/css" href="SITEROOT/css/abs.css">
  <!--[if lt IE 9]>
    <script src="script/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
	<div class="body_container">
	<header id="base_header">
		<div class="header_container">
			<a href="SITEROOT/index.html">BANDNAME</a>
		</div>
		<div class="subheader_container">
			...a <a href="https://www.facebook.com/Geekido-Studio-420053688164935/">Geekido Studio</a> component
		</div>
	</header>
	<section id="base_content">
		<div class="content_container">
			CONTENT_BLOCK
		</div>
	</section>
	<nav id="base_nav">
		<div class="nav_container">
			<header class="tab_title">
				Explore by...
			</header>
			<div class="rTable">
			<div class="rTableRow">
				<div class="rTableCell" id="exp_album">
					<a href="SITEROOT/albums.html"><button>Album</button></a>
				</div>
				<div class="rTableCell" id="exp_genre">
					<a href="SITEROOT/genres.html"><button>Genre</button></a>
				</div>
				<div class="rTableCell" id="exp_tags">
					<a href="SITEROOT/tags.html"><button>Tags</button></a>
				</div>
			</div>
		</div>
	</nav>
	<footer id="base_footer">
		<div class="footer_container">
			<p>This website &copy; SITEYEAR by SITEOWNER. All rights reserved.</p>
			<p>Made with <a href="https://github.com/chrooke/autobandsite">autobandsite</a>. Last update: SITEDATE</p>
		</div>
	</footer>
	</div>
</body>
</html>
