<div class="songinfo" id="songinfo_INDEX">
	<section>
		<header>TITLE</header>
		<div class="info_container">
			<div class="info_block">
			<p>Track TRACK on <a href="ALBUMPAGE">ALBUMNAME</a>.</p>
			<p>Performed by ARTIST</p>
			<p>Composed by COMPOSER</p>
			<p>Genre:    GENRE</p>
			</div>
			<div class="download_button playerbutton">
				<a href="DOWNLOAD_LINK" download="true"><button><img id="bDownload_img" src="SITEURLimages/download.png" alt="Previous"></button></a>
			</div>
		</div>
	</section>
</div>
