<div class="songinfo" id="songinfo_INDEX">
	TITLE</br>
	Track TRACK on <a href="ALBUMPAGE">ALBUMNAME</a>.</br>
	Artist: ARTIST</br>
	Genre:    GENRE</br>
	Composer: COMPOSER</br>
	COPYRIGHT</br>
	<br>
</div>
