<div class="songinfo" id="songinfo_INDEX">
	<section>
		<header>TITLE</header>
		Track TRACK on <a href="ALBUMPAGE">ALBUMNAME</a>.</br>
		Performed by ARTIST</br>
		Composed by COMPOSER</br>
		Genre:    GENRE</br>
		COPYRIGHT</br>
	</section>
</div>
