<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TITLE_BLOCK</title>
  <script type="text/javascript" src="SITEURLscripts/abs.js"></script>
  <link rel="stylesheet" type="text/css" href="SITEURLcss/abs.css">
  <!--[if lt IE 9]>
    <script src="script/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
<nav><a href="SITEURLindex.html">HOME</a> <a href="SITEURLalbums.html">Albums</a></nav></br>
CONTENT_BLOCK
</body>
</html>
