<audio id="player.SAFE_NAME" src="DOWNLOAD_LINK"></audio>
<div class="songbuttons">
  <button id="ppButton.SAFE_NAME" onclick="togglePlayPause('SAFE_NAME')"><img id="ppImage.SAFE_NAME" src="SITEURLimages/play.png" alt="Play"></button>
  <button><a href="DOWNLOAD_LINK"><img src="SITEURLimages/download.png" alt="Download"></a></button>
TRACK <a href="SONGPAGE">TITLE</a></br>
</div>
