<audio id="player.TITLE" src="DOWNLOAD_LINK"></audio>
<div>
  <button onclick="document.getElementById('player.TITLE').play()">Play</button> 
  <button onclick="document.getElementById('player.TITLE').pause()">Pause</button>
  <button><a href="DOWNLOAD_LINK">Download</a></button>
TRACK <a href="SONGPAGE">TITLE</a></br>
</div>
