<audio id="player.TITLE" src="DOWNLOAD_LINK"></audio>
<div>
  <button id="ppButton.TITLE" onclick="togglePlayPause('TITLE')"><img id="ppImage.TITLE" src="./images/play.jpg" alt="Play"></button>
  <button><a href="DOWNLOAD_LINK"><img src="./images/download.jpg" alt="Download"></a></button>
TRACK <a href="SONGPAGE">TITLE</a></br>
</div>
