TITLE</br>
Track TRACK on <a href="ALBUMPAGE">ALBUMNAME</a>.</br>
Artist: ARTIST</br>
Genre:    GENRE</br>
Composer: COMPOSER</br>
COPYRIGHT</br>
<br>
<audio id="player.TITLE" src="DOWNLOAD_LINK"></audio>
<div> 
  <button onclick="document.getElementById('player.TITLE').play()">Play</button> 
  <button onclick="document.getElementById('player.TITLE').pause()">Pause</button> <button><a href="DOWNLOAD_LINK">Download</a></button>
</div>

