<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TITLE_BLOCK</title>
  <script type="text/javascript" src="SITEURLscripts/abs.js"></script>
  <link rel="stylesheet" type="text/css" href="SITEURLcss/abs.css">
  <!--[if lt IE 9]>
    <script src="script/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="SITEURLindex.html">HOME</a></li>
      <li><a href="SITEURLalbums.html">Albums</a></li>
    </ul>
  </nav></br>
	<section id="base_content">
		<div class="content_container">
			CONTENT_BLOCK
		</div>
	</section>
	<footer id="base_footer">
		<div class="footer_container">
			<p>This website &copy; SITEYEAR by SITEOWNER. All rights reserved.</p>
			<p>Made with <a href="https://github.com/chrooke/autobandsite">autobandsite</a>. Last update: SITEDATE</p>
		</div>
	</footer>
</body>
</html>
