<div class="song_list_item">
<audio id="player.SAFE_NAME" src="DOWNLOAD_LINK"></audio>
  <div>
    <div class="tracknumber">
      TRACK
    </div>
    <div class="songbuttons">
      <button id="ppButton.SAFE_NAME" onclick="togglePlayPause('SAFE_NAME')"><img id="ppImage.SAFE_NAME" src="SITEROOT/images/play.png" alt="Play"></button>
      <button><a href="DOWNLOAD_LINK"><img src="SITEROOT/images/download.png" alt="Download"></a></button>
    </div>
    <div class="songname">
      <a href="SONGPAGE">TITLE</a></br>
    </div>
  </div>
</div>
