<section>
  <header>
    <h1>TITLE</h1>
  </header>
<div class="songbuttons"> 
  <button id="ppButton.SAFE_NAME" onclick="togglePlayPause('SAFE_NAME')"><img id="ppImage.SAFE_NAME" src="SITEROOT/images/play.png" alt="Play"></button>
  <button><a href="DOWNLOAD_LINK"><img src="SITEROOT/images/download.png" alt="Download"></a></button>
</div>
Track TRACK on <a href="ALBUMPAGE">ALBUMNAME</a>.</br>
Artist: ARTIST</br>
Genre:    GENRE</br>
Composer: COMPOSER</br>
COPYRIGHT</br>
<br>
<audio id="player.SAFE_NAME" src="DOWNLOAD_LINK"></audio>
</section>
